<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div{
        text-align: center;
        background-color: rgb(119, 172, 207);
        height: auto;
        width: 300px;
        border-radius: 20px;
        
    }
    body{
        padding: 50px;
        background-image: url(https://paralelo32cdn.eleco.com.ar/media/2017/08/Como-Subir-un-GIF-a-Facebook-Twitter-e-Instagram.gif);
        background-size: cover;
        }
</style>
<body>
    <div>
        <h2>
            Registrate
        </h2>
        <p>Ingresa tu nombre</p>
        <input type="text">
        <p>Ingresa tu edad</p>
        <input type="number">
        <p>Genero</p>
        <input type="">
        <br>
        <button>Registrarse</button>
    </div>
</body>
</html>